/* ========= RESET GLOBAL ========= */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* ========= FUNDO DO SITE ========= */
body {
    background: url('auto.cuidados.fundo.png') no-repeat center center fixed;
    background-size: cover;
    min-height: 100vh;

    display: flex;              
    justify-content: center;    
    align-items: center;        
    color: #3b3928;
}

/* ========= CONTAINER DO LOGIN ========= */
.login-container {
    width: 280px; 
    padding: 25px;
    background-color: rgba(255, 249, 209, 0.467);
    border-radius: 15px;
    backdrop-filter: blur(6px);
    box-shadow: 0 4px 12px rgba(180, 44, 44, 0.25);
    text-align: left;
}

/* ========= TÍTULO ========= */
.login-container h2 {
    margin-bottom: 20px;
    color: #333333;
    text-align: center;
}

/* ========= FORMULÁRIO ========= */
.login-container form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.login-container label {
    font-size: 14px;
    font-weight: bold;
    color: #333333;
    text-align: left;
}

.login-container input,
.login-container select,
.login-container textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #999999;
    border-radius: 6px;
    font-size: 14px;
    background-color: rgba(255, 255, 255, 0.7);
}

/* ========= BOTÃO ========= */
.login-container button {
    padding: 12px;
    background-color: #F4D03F;
    color: #333333;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    font-size: 15px;
    margin: 15px auto 0 auto; 
    display: block;
}

.login-container button:hover {
    background-color: #dac779;
}

/* ========= LEGEND, FIELDSET ========= */
.login-container fieldset {
    border: 1px solid #e9e6c3a5;
    border-radius: 8px;
    padding: 10px 15px;
}

.login-container legend {
    font-size: 14px;
    font-weight: bold;
    color: #333;
    padding: 0 5px;
    text-align: left; 
}

/* ========= RESPONSIVIDADE ========= */
@media (max-width: 480px) {
    .login-container {
        width: 90%;
        padding: 20px;
    }
}
