<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Agenda Diária - Ajudaí</title>
  <link rel="stylesheet" href="../static/styles.css">
  <link rel="shortcut icon" href="../static/iconeaa.png" type="image/x-icon">
</head>
<body>

  <header>
    <h1>Monte sua agenda diária</h1>
    <p>Escolha o dia e preencha suas tarefas da forma como preferir.</p>
  </header>

  <main>
    <form action="{{ url_for('final_diaria') }}" method="post">

    <div class="input-dia">
      <label for="dia">Escolha o dia:</label>
      <select name="dia" id="dia" required>
        <option value="escolha">Escolha aqui o dia</opition>
        <option value="segunda">Segunda-feira</opition>
        <option value="terça">Terça-feira</opition>
        <option value="quarta">Quarta-feira</opition>
        <option value="quinta">Quinta-feira</opition>
        <option value="sexta">Sexta-feira</opition>
        <option value="sabado">Sábado</opition>
        <option value="domingo">Domingo</opition>
      </select>
    </div>

    <section aria-labelledby="dia">
        <table>
          <thead>
            <tr><th>Concluído</th><th>Horário</th><th>Tarefa</th></tr>
          </thead>
            <tbody>
              <tr><td><input type="checkbox" name="dia_ok"></td> <td><input type="time"></td> <td><input type="text" name="dia"></td></tr>
              <tr><td><input type="checkbox" name="dia_ok"></td> <td><input type="time"></td> <td><input type="text" name="dia"></td></tr>
              <tr><td><input type="checkbox" name="dia_ok"></td> <td><input type="time"></td> <td><input type="text" name="dia"></td></tr>
              <tr><td><input type="checkbox" name="dia_ok"></td> <td><input type="time"></td> <td><input type="text" name="dia"></td></tr>
              <tr><td><input type="checkbox" name="dia_ok"></td> <td><input type="time"></td> <td><input type="text" name="dia"></td></tr>
              <tr><td><input type="checkbox" name="dia_ok"></td> <td><input type="time"></td> <td><input type="text" name="dia"></td></tr>
              <tr><td><input type="checkbox" name="dia_ok"></td> <td><input type="time"></td> <td><input type="text" name="dia"></td></tr>
              <tr><td><input type="checkbox" name="dia_ok"></td> <td><input type="time"></td> <td><input type="text" name="dia"></td></tr>
              <tr><td><input type="checkbox" name="dia_ok"></td> <td><input type="time"></td> <td><input type="text" name="dia"></td></tr>
              <tr><td><input type="checkbox" name="dia_ok"></td> <td><input type="time"></td> <td><input type="text" name="dia"></td></tr>
              <tr><td><input type="checkbox" name="dia_ok"></td> <td><input type="time"></td> <td><input type="text" name="dia"></td></tr>
              <tr><td><input type="checkbox" name="dia_ok"></td> <td><input type="time"></td> <td><input type="text" name="dia"></td></tr>
              <tr><td><input type="checkbox" name="dia_ok"></td> <td><input type="time"></td> <td><input type="text" name="dia"></td></tr>
              <tr><td><input type="checkbox" name="dia_ok"></td> <td><input type="time"></td> <td><input type="text" name="dia"></td></tr>
              <tr><td><input type="checkbox" name="dia_ok"></td> <td><input type="time"></td> <td><input type="text" name="dia"></td></tr>
              <tr><td><input type="checkbox" name="dia_ok"></td> <td><input type="time"></td> <td><input type="text" name="dia"></td></tr>
              <tr><td><input type="checkbox" name="dia_ok"></td> <td><input type="time"></td> <td><input type="text" name="dia"></td></tr>
              <tr><td><input type="checkbox" name="dia_ok"></td> <td><input type="time"></td> <td><input type="text" name="dia"></td></tr>
              <tr><td><input type="checkbox" name="dia_ok"></td> <td><input type="time"></td> <td><input type="text" name="dia"></td></tr>
              <tr><td><input type="checkbox" name="dia_ok"></td> <td><input type="time"></td> <td><input type="text" name="dia"></td></tr>
          </tbody>
      </table>
    </section>
  </main>
</body>
</html>
