<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Agenda Semanal - Ajudaí</title>
  <link rel="stylesheet" href="../static/styles.css">
  <link rel="icon" href="../static/iconeaa.png" type="image/x-icon">
</head>
<body>
<header>
  <h1>Monte sua agenda semanal</h1>
  <p>Preencha suas tarefas de cada dia da semana.</p>
</header>

  <main>
    <form action="/salvar_agenda_semanal" method="post">

      <!-- Função para criar a tabela de horários -->
      <section class="hero">
       <section aria-labelledby="domingo">
        <h2 id="domingo">Domingo</h2>
        <table>
          <thead>
            <tr><th>Concluído</th><th>Horário</th><th>Tarefa</th></tr>
          </thead>
          <tbody>
            <tr><td><input type="checkbox" name="dom_ok"></td> <td><input type="time"name="horário[]"></td> <td><input type="text" name="dom"></td></tr>
            <tr><td><input type="checkbox" name="dom_ok"></td> <td><input type="time"name="horário[]"></td> <td><input type="text" name="dom"></td></tr>
            <tr><td><input type="checkbox" name="dom_ok"></td> <td><input type="time"name="horário[]"></td> <td><input type="text" name="dom"></td></tr>
            <tr><td><input type="checkbox" name="dom_ok"></td> <td><input type="time"name="horário[]"></td> <td><input type="text" name="dom"></td></tr>
            <tr><td><input type="checkbox" name="dom_ok"></td> <td><input type="time"name="horário[]"></td> <td><input type="text" name="dom"></td></tr>
            <tr><td><input type="checkbox" name="dom_ok"></td> <td><input type="time"name="horário[]"></td> <td><input type="text" name="dom"></td></tr>
            <tr><td><input type="checkbox" name="dom_ok"></td> <td><input type="time"name="horário[]"></td> <td><input type="text" name="dom"></td></tr>
            <tr><td><input type="checkbox" name="dom_ok"></td> <td><input type="time"name="horário[]"></td> <td><input type="text" name="dom"></td></tr>
            <tr><td><input type="checkbox" name="dom_ok"></td> <td><input type="time"name="horário[]"></td> <td><input type="text" name="dom"></td></tr>
            <tr><td><input type="checkbox" name="dom_ok"></td> <td><input type="time"name="horário[]"></td> <td><input type="text" name="dom"></td></tr>
            <tr><td><input type="checkbox" name="dom_ok"></td> <td><input type="time"name="horário[]"></td> <td><input type="text" name="dom"></td></tr>
            <tr><td><input type="checkbox" name="dom_ok"></td> <td><input type="time"name="horário[]"></td> <td><input type="text" name="dom"></td></tr>
            <tr><td><input type="checkbox" name="dom_ok"></td> <td><input type="time"name="horário[]"></td> <td><input type="text" name="dom"></td></tr>
            <tr><td><input type="checkbox" name="dom_ok"></td> <td><input type="time"name="horário[]"></td> <td><input type="text" name="dom"></td></tr>
            <tr><td><input type="checkbox" name="dom_ok"></td> <td><input type="time"name="horário[]"></td> <td><input type="text" name="dom"></td></tr>
            <tr><td><input type="checkbox" name="dom_ok"></td> <td><input type="time"name="horário[]"></td> <td><input type="text" name="dom"></td></tr>
            <tr><td><input type="checkbox" name="dom_ok"></td> <td><input type="time"name="horário[]"></td> <td><input type="text" name="dom"></td></tr>
            <tr><td><input type="checkbox" name="dom_ok"></td> <td><input type="time"name="horário[]"></td> <td><input type="text" name="dom"></td></tr>
            <tr><td><input type="checkbox" name="dom_ok"></td> <td><input type="time"name="horário[]"></td> <td><input type="text" name="dom"></td></tr>
            <tr><td><input type="checkbox" name="dom_ok"></td> <td><input type="time"name="horário[]"></td> <td><input type="text" name="dom"></td></tr>
          </tbody>
        </table>
        
      </section>
      <!-- Segunda-feira -->
      <section aria-labelledby="segunda">
        <h2 id="segunda">Segunda-feira</h2>
        <table>
          <thead>
            <tr><th>Concluído</th><th>Horário</th><th>Tarefa</th></tr>
          </thead>
          <tbody>
            <tr><td><input type="checkbox" name="seg_ok"></td> <td><input type="time"name="horário[]"></td> <td><input type="text" name="seg"></td></tr>
            <tr><td><input type="checkbox" name="seg_ok"></td> <td><input type="time"name="horário[]"></td> <td><input type="text" name="seg"></td></tr>
            <tr><td><input type="checkbox" name="seg_ok"></td> <td><input type="time"name="horário[]"></td> <td><input type="text" name="seg"></td></tr>
            <tr><td><input type="checkbox" name="seg_ok"></td> <td><input type="time"name="horário[]"></td> <td><input type="text" name="seg"></td></tr>
            <tr><td><input type="checkbox" name="seg_ok"></td> <td><input type="time"name="horário[]"></td> <td><input type="text" name="seg"></td></tr>
            <tr><td><input type="checkbox" name="seg_ok"></td> <td><input type="time"name="horário[]"></td> <td><input type="text" name="seg"></td></tr>
            <tr><td><input type="checkbox" name="seg_ok"></td> <td><input type="time"name="horário[]"></td> <td><input type="text" name="seg"></td></tr>
            <tr><td><input type="checkbox" name="seg_ok"></td> <td><input type="time"name="horário[]"></td> <td><input type="text" name="seg"></td></tr>
            <tr><td><input type="checkbox" name="seg_ok"></td> <td><input type="time"name="horário[]"></td> <td><input type="text" name="seg"></td></tr>
            <tr><td><input type="checkbox" name="seg_ok"></td> <td><input type="time"name="horário[]"></td> <td><input type="text" name="seg"></td></tr>
            <tr><td><input type="checkbox" name="seg_ok"></td> <td><input type="time"name="horário[]"></td> <td><input type="text" name="seg"></td></tr>
            <tr><td><input type="checkbox" name="seg_ok"></td> <td><input type="time"name="horário[]"></td> <td><input type="text" name="seg"></td></tr>
            <tr><td><input type="checkbox" name="seg_ok"></td> <td><input type="time"name="horário[]"></td> <td><input type="text" name="seg"></td></tr>
            <tr><td><input type="checkbox" name="seg_ok"></td> <td><input type="time"name="horário[]"></td> <td><input type="text" name="seg"></td></tr>
            <tr><td><input type="checkbox" name="seg_ok"></td> <td><input type="time"name="horário[]"></td> <td><input type="text" name="seg"></td></tr>
            <tr><td><input type="checkbox" name="seg_ok"></td> <td><input type="time"name="horário[]"></td> <td><input type="text" name="seg"></td></tr>
            <tr><td><input type="checkbox" name="seg_ok"></td> <td><input type="time"name="horário[]"></td> <td><input type="text" name="seg"></td></tr>
            <tr><td><input type="checkbox" name="seg_ok"></td> <td><input type="time"name="horário[]"></td> <td><input type="text" name="seg"></td></tr>
            <tr><td><input type="checkbox" name="seg_ok"></td> <td><input type="time"name="horário[]"></td> <td><input type="text" name="seg"></td></tr>
            <tr><td><input type="checkbox" name="seg_ok"></td> <td><input type="time"name="horário[]"></td> <td><input type="text" name="seg"></td></tr>
          </tbody>
        </table>
      </section>
      <!-- Terça-feira -->
      <section aria-labelledby="terca">
        <h2 id="terca">Terça-feira</h2>
        <table>
          <thead>
            <tr><th>Concluído</th><th>Horário</th><th>Tarefa</th></tr>
          </thead>
          <tbody>
            <tr><td><input type="checkbox" name="ter_ok"></td> <td><input type="time"name="horário[]"></td> <td><input type="text" name="ter"></td></tr>
            <tr><td><input type="checkbox" name="ter_ok"></td> <td><input type="time"name="horário[]"></td> <td><input type="text" name="ter"></td></tr>
            <tr><td><input type="checkbox" name="ter_ok"></td> <td><input type="time"name="horário[]"></td> <td><input type="text" name="ter"></td></tr>
            <tr><td><input type="checkbox" name="ter_ok"></td> <td><input type="time"name="horário[]"></td> <td><input type="text" name="ter"></td></tr>
            <tr><td><input type="checkbox" name="ter_ok"></td> <td><input type="time"name="horário[]"></td> <td><input type="text" name="ter"></td></tr>
            <tr><td><input type="checkbox" name="ter_ok"></td> <td><input type="time"name="horário[]"></td> <td><input type="text" name="ter"></td></tr>
            <tr><td><input type="checkbox" name="ter_ok"></td> <td><input type="time"name="horário[]"></td> <td><input type="text" name="ter"></td></tr>
            <tr><td><input type="checkbox" name="ter_ok"></td> <td><input type="time"name="horário[]"></td> <td><input type="text" name="ter"></td></tr>
            <tr><td><input type="checkbox" name="ter_ok"></td> <td><input type="time"name="horário[]"></td> <td><input type="text" name="ter"></td></tr>
            <tr><td><input type="checkbox" name="ter_ok"></td> <td><input type="time"name="horário[]"></td> <td><input type="text" name="ter"></td></tr>
            <tr><td><input type="checkbox" name="ter_ok"></td> <td><input type="time"name="horário[]"></td> <td><input type="text" name="ter"></td></tr>
            <tr><td><input type="checkbox" name="ter_ok"></td> <td><input type="time"name="horário[]"></td> <td><input type="text" name="ter"></td></tr>
            <tr><td><input type="checkbox" name="ter_ok"></td> <td><input type="time"name="horário[]"></td> <td><input type="text" name="ter"></td></tr>
            <tr><td><input type="checkbox" name="ter_ok"></td> <td><input type="time"name="horário[]"></td> <td><input type="text" name="ter"></td></tr>
            <tr><td><input type="checkbox" name="ter_ok"></td> <td><input type="time"name="horário[]"></td> <td><input type="text" name="ter"></td></tr>
            <tr><td><input type="checkbox" name="ter_ok"></td> <td><input type="time"name="horário[]"></td> <td><input type="text" name="ter"></td></tr>
            <tr><td><input type="checkbox" name="ter_ok"></td> <td><input type="time"name="horário[]"></td> <td><input type="text" name="ter"></td></tr>
            <tr><td><input type="checkbox" name="ter_ok"></td> <td><input type="time"name="horário[]"></td> <td><input type="text" name="ter"></td></tr>
            <tr><td><input type="checkbox" name="ter_ok"></td> <td><input type="time"name="horário[]"></td> <td><input type="text" name="ter"></td></tr>
            <tr><td><input type="checkbox" name="ter_ok"></td> <td><input type="time"name="horário[]"></td> <td><input type="text" name="ter"></td></tr>
          </tbody>
        </table>
      </section>
      <!-- Quarta-feira -->
      <section aria-labelledby="quarta">
        <h2 id="quarta">Quarta-feira</h2>
        <table>
          <thead>
            <tr><th>Concluído</th><th>Horário</th><th>Tarefa</th></tr>
          </thead>
          <tbody>
            <tr><td><input type="checkbox" name="qua_ok"></td> <td><input type="time"name="horário[]"></td> <td><input type="text" name="qua"></td></tr>
            <tr><td><input type="checkbox" name="qua_ok"></td> <td><input type="time"name="horário[]"></td> <td><input type="text" name="qua"></td></tr>
            <tr><td><input type="checkbox" name="qua_ok"></td> <td><input type="time"name="horário[]"></td> <td><input type="text" name="qua"></td></tr>
            <tr><td><input type="checkbox" name="qua_ok"></td> <td><input type="time"name="horário[]"></td> <td><input type="text" name="qua"></td></tr>
            <tr><td><input type="checkbox" name="qua_ok"></td> <td><input type="time"name="horário[]"></td> <td><input type="text" name="qua"></td></tr>
            <tr><td><input type="checkbox" name="qua_ok"></td> <td><input type="time"name="horário[]"></td> <td><input type="text" name="qua"></td></tr>
            <tr><td><input type="checkbox" name="qua_ok"></td> <td><input type="time"name="horário[]"></td> <td><input type="text" name="qua"></td></tr>
            <tr><td><input type="checkbox" name="qua_ok"></td> <td><input type="time"name="horário[]"></td> <td><input type="text" name="qua"></td></tr>
            <tr><td><input type="checkbox" name="qua_ok"></td> <td><input type="time"name="horário[]"></td> <td><input type="text" name="qua"></td></tr>
            <tr><td><input type="checkbox" name="qua_ok"></td> <td><input type="time"name="horário[]"></td> <td><input type="text" name="qua"></td></tr>
            <tr><td><input type="checkbox" name="qua_ok"></td> <td><input type="time"name="horário[]"></td> <td><input type="text" name="qua"></td></tr>
            <tr><td><input type="checkbox" name="qua_ok"></td> <td><input type="time"name="horário[]"></td> <td><input type="text" name="qua"></td></tr>
            <tr><td><input type="checkbox" name="qua_ok"></td> <td><input type="time"name="horário[]"></td> <td><input type="text" name="qua"></td></tr>
            <tr><td><input type="checkbox" name="qua_ok"></td> <td><input type="time"name="horário[]"></td> <td><input type="text" name="qua"></td></tr>
            <tr><td><input type="checkbox" name="qua_ok"></td> <td><input type="time"name="horário[]"></td> <td><input type="text" name="qua"></td></tr>
            <tr><td><input type="checkbox" name="qua_ok"></td> <td><input type="time"name="horário[]"></td> <td><input type="text" name="qua"></td></tr>
            <tr><td><input type="checkbox" name="qua_ok"></td> <td><input type="time"name="horário[]"></td> <td><input type="text" name="qua"></td></tr>
            <tr><td><input type="checkbox" name="qua_ok"></td> <td><input type="time"name="horário[]"></td> <td><input type="text" name="qua"></td></tr>
            <tr><td><input type="checkbox" name="qua_ok"></td> <td><input type="time"name="horário[]"></td> <td><input type="text" name="qua"></td></tr>
            <tr><td><input type="checkbox" name="qua_ok"></td> <td><input type="time"name="horário[]"></td> <td><input type="text" name="qua"></td></tr>
          </tbody>
        </table>
      </section>
      <!-- Quinta-feira -->
      <section aria-labelledby="quinta">
        <h2 id="quinta">Quinta-feira</h2>
        <table>
          <thead>
            <tr><th>Concluído</th><th>Horário</th><th>Tarefa</th></tr>
          </thead>
          <tbody>
            <tr><td><input type="checkbox" name="qui_ok"></td> <td><input type="time"name="horário[]"></td> <td><input type="text" name="qui"></td></tr>
            <tr><td><input type="checkbox" name="qui_ok"></td> <td><input type="time"name="horário[]"></td> <td><input type="text" name="qui"></td></tr>
            <tr><td><input type="checkbox" name="qui_ok"></td> <td><input type="time"name="horário[]"></td> <td><input type="text" name="qui"></td></tr>
            <tr><td><input type="checkbox" name="qui_ok"></td> <td><input type="time"name="horário[]"></td> <td><input type="text" name="qui"></td></tr>
            <tr><td><input type="checkbox" name="qui_ok"></td> <td><input type="time"name="horário[]"></td> <td><input type="text" name="qui"></td></tr>
            <tr><td><input type="checkbox" name="qui_ok"></td> <td><input type="time"name="horário[]"></td> <td><input type="text" name="qui"></td></tr>
            <tr><td><input type="checkbox" name="qui_ok"></td> <td><input type="time"name="horário[]"></td> <td><input type="text" name="qui"></td></tr>
            <tr><td><input type="checkbox" name="qui_ok"></td> <td><input type="time"name="horário[]"></td> <td><input type="text" name="qui"></td></tr>
            <tr><td><input type="checkbox" name="qui_ok"></td> <td><input type="time"name="horário[]"></td> <td><input type="text" name="qui"></td></tr>
            <tr><td><input type="checkbox" name="qui_ok"></td> <td><input type="time"name="horário[]"></td> <td><input type="text" name="qui"></td></tr>
            <tr><td><input type="checkbox" name="qui_ok"></td> <td><input type="time"name="horário[]"></td> <td><input type="text" name="qui"></td></tr>
            <tr><td><input type="checkbox" name="qui_ok"></td> <td><input type="time"name="horário[]"></td> <td><input type="text" name="qui"></td></tr>
            <tr><td><input type="checkbox" name="qui_ok"></td> <td><input type="time"name="horário[]"></td> <td><input type="text" name="qui"></td></tr>
            <tr><td><input type="checkbox" name="qui_ok"></td> <td><input type="time"name="horário[]"></td> <td><input type="text" name="qui"></td></tr>
            <tr><td><input type="checkbox" name="qui_ok"></td> <td><input type="time"name="horário[]"></td> <td><input type="text" name="qui"></td></tr>
            <tr><td><input type="checkbox" name="qui_ok"></td> <td><input type="time"name="horário[]"></td> <td><input type="text" name="qui"></td></tr>
            <tr><td><input type="checkbox" name="qui_ok"></td> <td><input type="time"name="horário[]"></td> <td><input type="text" name="qui"></td></tr>
            <tr><td><input type="checkbox" name="qui_ok"></td> <td><input type="time"name="horário[]"></td> <td><input type="text" name="qui"></td></tr>
            <tr><td><input type="checkbox" name="qui_ok"></td> <td><input type="time"name="horário[]"></td> <td><input type="text" name="qui"></td></tr>
            <tr><td><input type="checkbox" name="qui_ok"></td> <td><input type="time"name="horário[]"></td> <td><input type="text" name="qui"></td></tr>
          </tbody>
        </table>
      </section>
      <!-- Sexta-feira -->
      <section aria-labelledby="sexta">
        <h2 id="sexta">Sexta-feira</h2>
        <table>
          <thead>
            <tr><th>Concluído</th><th>Horário</th><th>Tarefa</th></tr>
          </thead>
          <tbody>
            <tr><td><input type="checkbox" name="sex_ok"></td> <td><input type="time"></td> <td><input type="text" name="sex"></td></tr>
            <tr><td><input type="checkbox" name="sex_ok"></td> <td><input type="time"></td> <td><input type="text" name="sex"></td></tr>
            <tr><td><input type="checkbox" name="sex_ok"></td> <td><input type="time"></td> <td><input type="text" name="sex"></td></tr>
            <tr><td><input type="checkbox" name="sex_ok"></td> <td><input type="time"></td> <td><input type="text" name="sex"></td></tr>
            <tr><td><input type="checkbox" name="sex_ok"></td> <td><input type="time"></td> <td><input type="text" name="sex"></td></tr>
            <tr><td><input type="checkbox" name="sex_ok"></td> <td><input type="time"></td> <td><input type="text" name="sex"></td></tr>
            <tr><td><input type="checkbox" name="sex_ok"></td> <td><input type="time"></td> <td><input type="text" name="sex"></td></tr>
            <tr><td><input type="checkbox" name="sex_ok"></td> <td><input type="time"></td> <td><input type="text" name="sex"></td></tr>
            <tr><td><input type="checkbox" name="sex_ok"></td> <td><input type="time"></td> <td><input type="text" name="sex"></td></tr>
            <tr><td><input type="checkbox" name="sex_ok"></td> <td><input type="time"></td> <td><input type="text" name="sex"></td></tr>
            <tr><td><input type="checkbox" name="sex_ok"></td> <td><input type="time"></td> <td><input type="text" name="sex"></td></tr>
            <tr><td><input type="checkbox" name="sex_ok"></td> <td><input type="time"></td> <td><input type="text" name="sex"></td></tr>
            <tr><td><input type="checkbox" name="sex_ok"></td> <td><input type="time"></td> <td><input type="text" name="sex"></td></tr>
            <tr><td><input type="checkbox" name="sex_ok"></td> <td><input type="time"></td> <td><input type="text" name="sex"></td></tr>
            <tr><td><input type="checkbox" name="sex_ok"></td> <td><input type="time"></td> <td><input type="text" name="sex"></td></tr>
            <tr><td><input type="checkbox" name="sex_ok"></td> <td><input type="time"></td> <td><input type="text" name="sex"></td></tr>
            <tr><td><input type="checkbox" name="sex_ok"></td> <td><input type="time"></td> <td><input type="text" name="sex"></td></tr>
            <tr><td><input type="checkbox" name="sex_ok"></td> <td><input type="time"></td> <td><input type="text" name="sex"></td></tr>
            <tr><td><input type="checkbox" name="sex_ok"></td> <td><input type="time"></td> <td><input type="text" name="sex"></td></tr>
            <tr><td><input type="checkbox" name="sex_ok"></td> <td><input type="time"></td> <td><input type="text" name="sex"></td></tr>
          </tbody>
        </table>
      </section>
      <!-- Sábado -->
      <section aria-labelledby="sabado">
        <h2 id="sabado">Sábado</h2>
        <table>
          <thead>
            <tr><th>Concluído</th><th>Horário</th><th>Tarefa</th></tr>
          </thead>
          <tbody>
              <tr><td><input type="checkbox" name="sab_ok"></td> <td><input type="time"></td> <td><input type="text" name="sab"></td></tr>
              <tr><td><input type="checkbox" name="sab_ok"></td> <td><input type="time"></td> <td><input type="text" name="sab"></td></tr>
              <tr><td><input type="checkbox" name="sab_ok"></td> <td><input type="time"></td> <td><input type="text" name="sab"></td></tr>
              <tr><td><input type="checkbox" name="sab_ok"></td> <td><input type="time"></td> <td><input type="text" name="sab"></td></tr>
              <tr><td><input type="checkbox" name="sab_ok"></td> <td><input type="time"></td> <td><input type="text" name="sab"></td></tr>
              <tr><td><input type="checkbox" name="sab_ok"></td> <td><input type="time"></td> <td><input type="text" name="sab"></td></tr>
              <tr><td><input type="checkbox" name="sab_ok"></td> <td><input type="time"></td> <td><input type="text" name="sab"></td></tr>
              <tr><td><input type="checkbox" name="sab_ok"></td> <td><input type="time"></td> <td><input type="text" name="sab"></td></tr>
              <tr><td><input type="checkbox" name="sab_ok"></td> <td><input type="time"></td> <td><input type="text" name="sab"></td></tr>
              <tr><td><input type="checkbox" name="sab_ok"></td> <td><input type="time"></td> <td><input type="text" name="sab"></td></tr>
              <tr><td><input type="checkbox" name="sab_ok"></td> <td><input type="time"></td> <td><input type="text" name="sab"></td></tr>
              <tr><td><input type="checkbox" name="sab_ok"></td> <td><input type="time"></td> <td><input type="text" name="sab"></td></tr>
              <tr><td><input type="checkbox" name="sab_ok"></td> <td><input type="time"></td> <td><input type="text" name="sab"></td></tr>
              <tr><td><input type="checkbox" name="sab_ok"></td> <td><input type="time"></td> <td><input type="text" name="sab"></td></tr>
              <tr><td><input type="checkbox" name="sab_ok"></td> <td><input type="time"></td> <td><input type="text" name="sab"></td></tr>
              <tr><td><input type="checkbox" name="sab_ok"></td> <td><input type="time"></td> <td><input type="text" name="sab"></td></tr>
              <tr><td><input type="checkbox" name="sab_ok"></td> <td><input type="time"></td> <td><input type="text" name="sab"></td></tr>
              <tr><td><input type="checkbox" name="sab_ok"></td> <td><input type="time"></td> <td><input type="text" name="sab"></td></tr>
              <tr><td><input type="checkbox" name="sab_ok"></td> <td><input type="time"></td> <td><input type="text" name="sab"></td></tr>
              <tr><td><input type="checkbox" name="sab_ok"></td> <td><input type="time"></td> <td><input type="text" name="sab"></td></tr>
          </tbody>
        </table>
      </section>
    
      <div class="botoes-final">
  <button type="submit">Salvar Agenda Semanal</button>
  <a href="tipoagenda.html">
    <button type="button">Voltar</button>
  </a>
</div>
</section>

    </form>
  </main>
  <footer>
    <p>Cuide de você um dia de cada vez.</p>
    <p >“Pequenos hábitos constroem grandes transformações.”</p>
    <p>&copy; 2025 Ajudaí - Sua jornada de bem-estar</p>
</footer>
</body>
</html>