<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ajudaí - Página Inicial</title>
  <link rel="stylesheet" href="../static/styles.css">
  <link rel="shortcut icon" href="../static/iconeaa.png" type="image/x-icon">
</head>
<body>

  <header>
    <img src="../static/Bem_vindo_titulo.png" width="450px" height="90px">
  </header>

  <main>
    <section class="hero">
      <p>
        Aqui você cria sua própria agenda personalizada para cuidar da rotina do seu jeito.
        Planeje seus dias, organize suas tarefas e tenha mais tempo para você.
      </p>

      <div class="botao-pginicial">
        <a href="{{ url_for('login') }}">
            <button type="button">Criar minha agenda</button>
        </a>
      </div>
    </section>
  </main>
  
   <footer>
    <p>Cuide de você um dia de cada vez.</p>
    <p >“Pequenos hábitos constroem grandes transformações.”</p>
    <p>&copy; 2025 Ajudaí - Sua jornada de bem-estar</p>
   </footer>

</html>
