<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ajudaí - login</title>
    <link rel="stylesheet" href="../static/styles.css">
    <link rel="shortcut icon" href="../static/iconeaa.png" type="image/x-icon">
</head>
<body>
    <header>
    </header>

    <div class="texto-login">
        <h1>Login</h1>
        <p>Entre com seu e-mail e senha para acessar sua conta</p>
    </div>

<conteiner class="conteiner">
    <main class="conteiner-login">
    
        <form action="{{ url_for('tipoagenda') }}" method="get">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>

            <label for="senha">Senha:</label>
            <input type="password" id="senha" name="senha" required>

            <button class="login-button" type="submit">Entrar</button>
        </form>

        <p class="paragrafo-login">Ainda não tem conta? <a href="{{ url_for('cadastro') }}">cadastre-se aqui</a></p>
    </main>
</conteiner>
</body>
</html>