<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Escolha da Agenda - Ajudaí</title>
  <link rel="stylesheet" href="../static/styles.css">
</head>
<body>

  <header>
    <h1>Escolha o tipo de agenda</h1>
  </header>

  <main class="tipoagenda-container">
    <section>
      <div class="botoes-final">
        <a href="{{ url_for('agendadiaria') }}"><button type="button">Agenda Diária</button></a>
        <a href="{{ url_for('agendasemanal') }}"><button type="button">Agenda Semanal</button></a>
        <a href="{{ url_for('index') }}"><button type="button">Voltar</button></a>
      </div>
    </section>
  </main>

</body>
</html>