<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Escolha da Agenda - Ajudaí</title>
  <link rel="stylesheet" href="../static/styles.css">
  <link rel="shortcut icon" href="../static/iconeaa.png" type="image/x-icon">
</head>
<body>

  <header>
    <h1>Escolha o tipo de agenda</h1>
  </header>

  <main class="tipoagenda-container">
    <section>
      <p>Agora que você já está cadastrado, é hora de organizar seus compromissos. Escolha o tipo de agenda que melhor se adapta à sua rotina e comece a planejar seu dia ou semana de forma prática e personalizada. Clique na opção que deseja e vamos tornar sua organização mais fácil e eficiente!</p>
      <div class="botoes-final">
        <a href="{{ url_for('agendadiaria') }}"><button type="button">Agenda Diária</button></a>
        <a href="{{ url_for('agendasemanal') }}"><button type="button">Agenda Semanal</button></a>
        <a href="{{ url_for('index') }}"><button type="button">Voltar</button></a>
      </div>
    </section>
  </main>
  <footer>
    <p>Cuide de você um dia de cada vez.</p>
    <p >“Pequenos hábitos constroem grandes transformações.”</p>
    <p>&copy; 2025 Ajudaí - Sua jornada de bem-estar</p>
</footer>
</body>
</html>